main {
    width: 65%;
    display:flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
}

.input {
    height: 60px;
}

.start {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.start-button {
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
}