.card {
    max-width: 36rem;
    min-height: 24rem;
    border-radius: 16px !important;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.header {
    padding: .5rem;
}

.flexRow {
    display:flex;
    justify-content: row;
    gap: 8px;
    align-items: center;
}