.buttonContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.iconButton {
    border-radius: 10px !important;
    color: white !important;
    padding: .38rem !important;
    &:hover {
        opacity: .8;
    }
}

.paused {
    color: #ffb74d;
}