.appbar {
    background-color: #4056A1 !important;
}

.toolbar {
    padding-left: .5rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.appName {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 1rem;
    cursor: pointer;
    padding: .6rem;
}

.loginButton {
    color: white !important;
}