.container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0ece6;
    size: 12px;
    width: 50%;
}

.outputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 268px;
    align-items: center;
}

.text {
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 100%;
    line-height: 1.67;
    overflow-y: hidden;
    padding: 12px;
    line-height: 1.67;
    overflow-y: hidden;
    padding: 12px;
    width: 100%;
}

.inputContainer {
    margin-top: 4rem;
    width: 40%;
    min-width: 250px;
    background-color: #FFFFFF;
}

input {
    width: 100%;
    font-size: 22px;
    background-color: #FFFFFF;
}